h1 {
  text-align: center;
  margin: 20px 0;
}

.spinner-container {
  width: 100px;
  margin: 0 auto;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.image-container {
  height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
}
