h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 991px;
  margin: 0 auto;
  padding: 0 15px;
}

.user-image {
  width: 300px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 991px) {

  .container {
    max-width: 100%;
  }

}
